.menu-panel {
  display: flex;
  justify-content: center;

  height: 200px;

  box-sizing: border-box;
  padding: 15px max(15px, env(safe-area-inset-right)) max(15px, env(safe-area-inset-bottom)) max(15px, env(safe-area-inset-left));

  background-color: #068a6b;

  pointer-events: initial;
}
