.menu-panel {
  height: 200px;

  box-sizing: border-box;
  padding: 15px max(15px, env(safe-area-inset-right)) max(15px, env(safe-area-inset-bottom)) max(15px, env(safe-area-inset-left));

  background-color: #068a6b;

  cursor: initial;
  pointer-events: initial;
}

.inventory {
  background-color: #3eb89b;

  height: 100%;
}

.inventory__list {
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
  align-items: center;
  gap: 16px;

  height: 100%;
}

.inventory__item {
  padding: 16px;
}

.inventory__item-image {
  width: 52px;
  image-rendering: pixelated;
}