.inventory {
  display: flex;

  width: 100%;
}

.inventory__controls {
  display: flex;
  flex-direction: column;

  padding: 81px 18px 0 15px;
}

.inventory__control {
  width: 36px;
  height: 36px;

  color: transparent;

  border: none;
  background-color: transparent;
  background-image: url(./images/hud-button.png);
  background-repeat: no-repeat;
  background-size: 108px 36px;
  background-position: 0 0;
}

.inventory__control_down {
  transform: scale(1, -1);
}

.inventory__control:hover {
  background-position: -36px 0;
}

.inventory__control:active {
  background-position: -72px 0;
}

.inventory__control + .inventory__control {
  margin-top: 6px;
}

.inventory__list {
  height: 126px;

  list-style: none;
  margin: 0;
  padding: 66px 231px 33px 18px;

  display: flex;
  align-items: center;

  overflow: hidden;
}

.inventory__item {
  width: 126px;
  height: 126px;

  padding: 0 13px 13px 13px;
  box-sizing: border-box;

  flex-shrink: 0;
}

.item {
  border: none;
  background-color: transparent;

  width: 100px;
  height: 100px;

  padding: 13px;
}

.item_selected {
  box-shadow: 0 0 0 4px white;
}

.item-image {
  width: 100%;
  image-rendering: pixelated;
}
