.game {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;

  color: white;
  height: 100%;
}

.game__header {
  display: flex;
  justify-content: space-between;
}

.header__left {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.game__move-control {
  position: absolute;

  left: 0;
  bottom: 0;

  width: 100%;
  height: 100%;

  opacity: 0;
}
